@model WebGiay.Models.GIAY

@*@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}*@

<h2>Details</h2>

<div>
    <h4>GIAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tengiay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tengiay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>

        <dd>
            <img src="/images/@Model.Anhbia" style="height:200px;width:200px;margin:10px;" />
            @*<img src="/images/@item.Anhbia" width="100" height="100" />*@


        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Magiay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
