@using WebGiay.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center"> Thông tin giỏ hàng</h2>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td>Mã giày</td>
        <td>Tên giày</td>
        <td>Ảnh </td>
        <td>Số lượng</td>
        <td>Đơn giá</td>

        <td>Thành tiền</td>
        <td width="50px"></td>
        <td width="50px"></td>
        <td width="50px"></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td> @item.iMagiay</td>
            <td>@item.sTengiay</td>
            <td><img width="70" src="~/images/@item.sAnhbia" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSp = item.iMagiay }))
            {
                <td>
                    <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" style="background-color:yellow " />

                </td>


                <td>@item.iSoluong</td>
                <td>@String.Format("{0:0,0}", item.dDongia)</td>
                <td>@String.Format("{0:0,0}", item.dThanhtien)</td>

                <td><a href="@Url.Action("Details", "ShopGiay", new { id = item.iMagiay })">Chi tiết</a></td>
                <td>@Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMagiay })</td>
                <td><input type="submit" value="Cập nhật " /></td>
            }
        </tr>
    }
    <tr style="text-align:right; font-weight:bold; color:red">
        <td colspan="4">Tổng số lượng : @ViewBag.Tongsoluong</td>
        <td colspan="5">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>


    </tr>
    <tr style="text-align:right; font-weight:bold; color:red">
        <td colspan="9">
            @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatcaGiohang")
        </td>
    </tr>
    <tr style="text-align:right; font-weight:bold; color:red">
        <td colspan="9">
            @Html.ActionLink("Đặt hàng", "Dathang","GioHang")
        </td>
    </tr>
</table>

<!--<table class="table">
    <thead>
        <tr>
            <td>Mã giày</td>
            <td>Tên giày</td>
            <td>Ảnh </td>
            <td>Số lượng</td>
            <td>Đơn giá</td>

            <td>Thành tiền</td>
            <td width="50px"></td>
            <td width="50px"></td>
            <td width="50px"></td>
        </tr>
    </thead>
    <tbody>-->
        @*<tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>*@
        @*<table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>*@
        <!--@foreach (var item in Model)
        {
            <tr style="text-align:center; font-weight:bold">
                <td> @item.iMagiay</td>
                <td>@item.sTengiay</td>
                <td><img width="70" src="~/images/@item.sAnhbia" /></td>
                @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSp = item.iMagiay }))
                {
                    <td>
                        <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" style="background-color:yellow " />

                    </td>


                    <td>@item.iSoluong</td>
                    <td>@String.Format("{0:0,0}", item.dDongia)</td>
                    <td>@String.Format("{0:0,0}", item.dThanhtien)</td>

                    <td><a href="@Url.Action("Details", "ShopGiay", new { id = item.iMagiay })">Chi tiết</a></td>
                    <td>@Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMagiay })</td>
                    <td><input type="submit" value="Cập nhật " /></td>
                }
            </tr>
        }
        <tr style="text-align:right; font-weight:bold; color:red">
            <td colspan="4">Tổng số lượng : @ViewBag.Tongsoluong</td>
            <td colspan="5">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>


        </tr>
        <tr style="text-align:right; font-weight:bold; color:red">
            <td colspan="9">
                @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatcaGiohang")
            </td>
        </tr>
        <tr style="text-align:right; font-weight:bold; color:red">
            <td colspan="9">
                @Html.ActionLink("Đặt hàng", "Dathang", "GioHang")
            </td>
        </tr>
    </tbody>
</table>-->
@*ket thuc*@
@*<table class="table table-dark">
    <thead>
        <tr style="text-align:center; font-weight:bold">
            <td>Mã giày</td>
            <td>Tên giày</td>
            <td>Ảnh </td>
            <td>Số lượng</td>
            <td>Đơn giá</td>

            <td>Thành tiền</td>
            <td width="50px"></td>
            <td width="50px"></td>
            <td width="50px"></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td> @item.iMagiay</td>
            <td>@item.sTengiay</td>
            <td><img width="70" src="~/images/@item.sAnhbia" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSp = item.iMagiay }))
            {
                <td>
                    <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" style="background-color:yellow " />

                </td>


                <td>@item.iSoluong</td>
                <td>@String.Format("{0:0,0}", item.dDongia)</td>
                <td>@String.Format("{0:0,0}", item.dThanhtien)</td>

                <td><a href="@Url.Action("Details", "ShopGiay", new { id = item.iMagiay })">Chi tiết</a></td>
                <td>@Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMagiay })</td>
                <td><input type="submit" value="Cập nhật " /></td>
            }
        </tr>
    }
    <tr style="text-align:right; font-weight:bold; color:red">
        <td colspan="4">Tổng số lượng : @ViewBag.Tongsoluong</td>
        <td colspan="5">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>


    </tr>
    <tr style="text-align:right; font-weight:bold; color:red">
        <td colspan="9">
            @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatcaGiohang")
        </td>
    </tr>
    <tr style="text-align:right; font-weight:bold; color:red">
        <td colspan="9">
            @Html.ActionLink("Đặt hàng", "Dathang", "GioHang")
        </td>
    </tr>
    </tbody>
</table>*@