@*@model IEnumerable<WebGiay.Models.GIAY>*@
@*@using WebGiay.Models
@using PagedList.Mvc;
@model PagedList.PagedList<GIAY>*@
@{
    ViewBag.Title = "SPTheoCT";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<h3 style="text-align:center; color:red">GIÀY THEO KIEU</h3>
<div class="container">
    <div class="row">
        @foreach (var giay in Model)
        {
            <div id="products">
                <div class="item">

                    <a href="@Url.Action("Details","ShopGiay", new { id = giay.Magiay})">
                        <img alt="@giay.Tengiay" src="~/images/@giay.Anhbia" width="200" />

                        <br />
                        <h4 style="text-align:right">
                            @giay.Giaban
                        </h4>
                        <h4 style="text-align:center">
                            @giay.Tengiay
                        </h4>
                        <p></p>
                </div>


            </div>


        }
    </div>

</div>

@*<div class="container">
        <div class="row">
            @foreach (var giay in Model)
            {
                <div id="products">
                    <div class="item">
                        <a href="@Url.Action("Details", "ShopGiay", new { id = giay.Magiay })">
                            <img alt="@giay.Tengiay" src="~/images/@giay.Anhbia" width="200" />
                            <h4 style="text-align:right">
                                @giay.Giaban
                            </h4>
                            <h4 style="text-align:center">
                                @giay.Tengiay
                            </h4>

                    </div>


                </div>
            }
        </div>
    </div>*@
 @*Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) /@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SPTheoCT", new { page = page }))
</div>*@